{% for listing in object_list %}
<a href="{% url 'listing' listing.id %}" style="text-decoration: none; color: inherit">
<div class='row' style='padding: .5rem; border: solid black 2px; margin: 1rem 0;'>
            <div class="col-2">
                <img style="width: 100%; height: 100%; object-fit: cover;" src='{{ listing.image_url }}'>
            </div>
            <div class="col">
                <h3 style=>{{ listing.title }}</h3>
                <p>{{ listing.description }}</p>
                <p>Seller: {{ listing.user }}</p>
            </div>
            <div class="col-2">
                {% if not listing.is_active %}
                <p style="background-color: red">Sold out for: {{ listing.highest_bid.bid }}$</p>
                {% else %}
                {% if listing.highest_bid %}
                    <p>{{ listing.highest_bid.bid }}$</p>
                {% else %}
                    <p>{{ listing.starting_bid}}$</p>
                {% endif %}
                {% endif %}

            </div>

</div>
</a>

{% endfor %}